*{padding: 0;
margin: 0; 
background-color: beige;}
h1{
    color: blueviolet;
    text-align: center;
    margin: 30px;
}
h2{
    color: blue;
    background-color: aqua;
    text-align: left;
    margin: 50px;
}
p{
    background-color: aquamarine;
    font-size: 25px;
    margin: 50px;

}
#link{margin-left: 50px;}
